#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.B1{
  background-color: grey;
  width: 150px;
  height: auto;
  padding: 10px;
  margin: 5px;
  border-radius: 20px;
  border: 5px solid lightgray;

}
.B2{
  background-color: grey;
  width: 150px;
  height: auto;
  padding: 10px;
  margin: 5px;
  border-radius: 20px;
  border: 5px solid lightgray;
}
.B3{
  background-color: red;
  width: 150px;
  height: auto;
  padding: 10px;
  margin: 5px;
  border-radius: 20px;
  border: 5px solid rgb(160, 87, 99);
}
.B0{ background-color: rgb(107, 107, 63);
  width: 250px;
  height: 50px;
  padding: 10px;
  margin: 5px;
  border-radius: 20px;
  border: 5px solid goldenrod;}